[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[%
    reason_descs.$rel_id_subscriber = "You have subscribed to some field value in this ${terms.bug}."
    watch_reason_descs.$rel_id_subscriber = 
        "You are watching someone who has subscribed to some field value in this ${terms.bug}."
%]

