[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012-2017 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]
[% tabs.push({
        name => "subscriptions", label => "Subscriptions",
        link => "userprefs.cgi?tab=subscriptions", saveable => 1,
    }) IF Param('subscription_fields').size %]
